//-var Equipment =  [ 'Épée', 'Sabre', 'Lance', 'Masse d armes', 'Marteau de guerre','Hâche', 'Bâton', 'Glaive', 'Gilet de cuir matelassé', 'Potion de Lampsur', 'Rations spéciales' ]
fieldset.singleRow
    legend Equipment :
    label
        = "Veuillez choisir 2 équipements parmit la liste..."
    br
    label
        input(type="checkbox", name="Épée", checked=true)
        = "Épée"
    Br
    label
        input(type="checkbox", name="Sabre", checked=true)
        = "Sabre"
    Br
    label
        input(type="checkbox", name="Lance", checked=false)
        = "Lance"
    Br
    label
        input(type="checkbox", name="Masse d'armes", checked=false)
        = "Masse d'armes"
    Br
    label
        input(type="checkbox", name="Marteau de guerre", checked=false)
        = "Marteau de guerre"
    Br
    label
        input(type="checkbox", name="Hâche", checked=false)
        = "Hâche"
    Br
    label
        input(type="checkbox", name="Bâton", checked=false)
        = "Bâton"
    Br
    label
        input(type="checkbox", name="Glaive", checked=false)
        = "Glaive"
    Br
    label
        input(type="checkbox", name="Gilet de cuir matelassé", checked=false)
        = "Gilet de cuir matelassé"
    Br
    label
        input(type="checkbox", name="Potion de Lampsur", checked=false)
        = "Potion de Lampsur"
    Br
    label
        input(type="checkbox", name="Rations spéciales", checked=false)
        = "Rations spéciales"
